<h1>Admin Dashboard</h1>
<h2>Orders:</h2>

<h3>Packaged:</h3>
<% @orders.packaged.each do |order| %>
  <section id="packaged-<%= order.id %>">
    <p><%=link_to "Ship", "/admin/orders/#{order.id}", method: :patch %></p>
    <p>Order placed by: <%=link_to order.user.name, "/admin/users/#{order.user.id}"%></p>
    <p>Order ID: <%= order.id %></p>
    <p>Created: <%= order.created_at %></p>
  </section>
<% end %>

<h3>Pending:</h3>
<% @orders.pending.each do |order| %>
  <section id="pending-<%= order.id %>">
      <p>Order placed by: <%=link_to order.user.name, "/admin/users/#{order.user.id}"%></p>
      <p>Order ID: <%= order.id %></p>
      <p>Created: <%= order.created_at %></p>
  </section>
<% end %>

<h3>Shipped:</h3>
<% @orders.shipped.each do |order| %>
  <section id="shipped-<%= order.id %>">
      <p>Order placed by: <%=link_to order.user.name, "/admin/users/#{order.user.id}"%></p>
      <p>Order ID: <%= order.id %></p>
      <p>Created: <%= order.created_at %></p>
  </section>
<% end %>

<h3>Cancelled:</h3>
<% @orders.cancelled.each do |order| %>
  <section id="cancelled-<%= order.id %>">
      <p>Order placed by: <%=link_to order.user.name, "/admin/users/#{order.user.id}"%></p>
      <p>Order ID: <%= order.id %></p>
      <p>Created: <%= order.created_at %></p>
  </section>
<% end %>