<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section id="merchant-<%= merchant.id %>">
      <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
      <% if merchant.enabled? %>
        <h2><%= button_to 'Disable Merchant', "/admin/merchants/#{merchant.id}", method: :patch %></h2>
      <% else %>
        <h2><%=button_to "Enable", admin_merchants_path%></h2>
      <% end %>
    </section>
  <% end %>
</section>
